<section>
  <header>
    <h3 class="primary-color">Tooltip</h3>
  </header>
  <article>
    <md-card>
      <md-card-content>
        <div class="centered" cdk-scrollable>
          <button #tooltip="mdTooltip"
                  md-raised-button
                  color="primary"
                  [mdTooltip]="message"
                  [mdTooltipPosition]="position"
                  [disabled]="disabled"
                  [mdTooltipShowDelay]="showDelay"
                  [mdTooltipHideDelay]="hideDelay">
            Mouse over to see the tooltip
          </button>
          <div>Scroll down while tooltip is open to see it hide automatically</div>
          <div style="height: 400px;"></div>
        </div>


        <div fxLayout="column" fxLayout.gt-sm="row">
          <div class="pad-right pad-bottom">
            <div>
              <strong>Message: </strong>
              <md-input-container><input mdInput type="text" [(ngModel)]="message"></md-input-container>
            </div>
            <div>
              <strong>Show Delay (ms): </strong>
              <md-input-container>
                <input mdInput type="number" [(ngModel)]="showDelay">
              </md-input-container>
            </div>
            <div>
              <strong>Hide Delay (ms): </strong>
              <md-input-container>
                <input mdInput type="number" [(ngModel)]="hideDelay">
              </md-input-container>
            </div>
            <div>
              <strong>Disabled: </strong>
              <md-checkbox [(ngModel)]="disabled"></md-checkbox>
            </div>
          </div>
          <p>
            <md-radio-group [(ngModel)]="position" fxLayout="column">
              <md-radio-button value="below">Below</md-radio-button>
              <md-radio-button value="above">Above</md-radio-button>
              <md-radio-button value="left">Left</md-radio-button>
              <md-radio-button value="right">Right</md-radio-button>
              <md-radio-button value="before">Before</md-radio-button>
              <md-radio-button value="after">After</md-radio-button>
            </md-radio-group>
          </p>
        </div>


        <div><strong>Mouse over to</strong></div>
        <button md-raised-button color="primary" (mouseenter)="tooltip.show()">
          Show tooltip
        </button>
        <button md-raised-button color="primary" (mouseenter)="tooltip.hide()">
          Hide tooltip
        </button>
        <button md-raised-button color="primary" (mouseenter)="tooltip.toggle()">
          Toggle tooltip
        </button>
      </md-card-content>
    </md-card>
  </article>
</section>

