<section>
  <form #turmaForm="ngForm">
      <md-card>
          <md-card-title class="md-title">Turma</md-card-title>
          <md-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
              <md-input-container fxFlex [dividerColor]="!nome.valid && !nome.pristine ? 'warn' : 'primary'">
                  <input type="text" mdInput style="width: 400px;" placeholder="Nome" name="nome" class="maiusculo" required maxlength="100" ngModel #nome="ngModel" [(ngModel)]="turmaSelected.nome">
                  <md-hint *ngIf="!nome.valid && !nome.pristine" class="warn-color">Campo obrigatório. máximo 100 caracteres.</md-hint>
              </md-input-container>
            </div>
            <div layout="row" style="margin-left: 10px; margin-top: 20px;">
              <button md-raised-button color="primary" type="submit" name="btnOk" [disabled]="!turmaForm.valid" (click)="gravar()" style="margin-right: 10px;">OK</button>
              <button md-raised-button color="secundary" type="button" name="btnVoltar" (click)="voltar()">Voltar</button>
            </div>
          </md-card-content>
      </md-card>
      <!-- {{diagnostic}} -->
  </form>
</section>