<section>
  <header>
    <h3 class="primary-color">Cards</h3>
  </header>
  <article>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33">
        <md-card class="card-type-first">
          <div class="img-wrap"></div>
          <md-card-title>Content Title</md-card-title>
          <md-card-subtitle>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, soluta.</p>
          </md-card-subtitle>
          <button md-button>READ MORE</button>
          <button md-button color="primary">BUY NOW</button>
        </md-card>
        <md-card class="card-type-second">
          <md-card-footer class="white-text-color">
            <h5 class="push-bottom-xs">Title</h5>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex class="text-left">+ Colors</div>
              <div fxFlex class="text-right md-headline">$ 99.99</div>
            </div>
          </md-card-footer>
        </md-card>
        <md-card class="card-type-third">
          <div class="img-wrap"></div>
          <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="start center">
              <span class="md-title">$ 58,00</span>
            </div>
            <div fxFlex="50" class="icon-color" fxLayoutAlign="end center">
              <button md-icon-button>
                <md-icon>favorite</md-icon>
              </button>
            </div>
          </div>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33">
        <md-card class="card-type-fourth">
          <md-card-title-group>
            <md-card-title>Card with title</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
            <img md-card-md-image src="/assets/cards-demo/150150.png">
          </md-card-title-group>
          <button md-button>ACTION 1</button>
          <button md-button>ACTION 2</button>
        </md-card>
        <md-card class="card-type-fifth">
          <div class="img-wrap"></div>
          <md-card-actions align="end" class="icon-color">
            <button md-icon-button>
              <md-icon>favorite</md-icon>
            </button>
            <button md-icon-button>
              <md-icon>bookmark</md-icon>
            </button>
            <button md-icon-button>
              <md-icon>more_vert</md-icon>
            </button>
          </md-card-actions>
        </md-card>
        <md-card class="card-type-sixth primary-background-color primary-contrast-color">
          <div class="img-wrap"></div>
          <button md-fab color="accent" class="float-fab">
            <md-icon>add</md-icon>
          </button>
          <md-card-title> Content Title</md-card-title>
          <md-card-subtitle class="primary-contrast-color">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, soluta.</p>
          </md-card-subtitle>
          <button md-button>READ MORE</button>
          <button md-button>BUY NOW</button>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-md="33">
        <md-card class="card-type-seventh">
          <md-card-header>
            <img md-card-avatar src="/assets/avatars-img/4040.png">
            <md-card-title>Leo Di</md-card-title>
            <md-card-subtitle>Castle</md-card-subtitle>
          </md-card-header>
          <div class="img-wrap"></div>
          <md-card-content class="secondary-text-color">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores et inventore placeat, provident
              quisquam!</p>
          </md-card-content>
          <button md-button>ACTION 1</button>
          <button md-button>ACTION 2</button>
        </md-card>
        <md-card class="card-type-eighth">
          <md-card-title-group>
            <md-card-title>Some title</md-card-title>
            <md-card-subtitle>
              <div class="push-bottom-xs">Subtitle</div>
              <div>
                <md-icon class="primary-text-color">star</md-icon>
                <md-icon class="primary-text-color">star</md-icon>
                <md-icon class="primary-text-color">star</md-icon>
                <md-icon class="primary-text-color">star</md-icon>
                <md-icon>star</md-icon>
              </div>
            </md-card-subtitle>
          </md-card-title-group>
          <div class="img-wrap"></div>
        </md-card>
        <md-card class="primary-background-color primary-contrast-color">
          <md-card-header class="primary-contrast-color">
            <md-card-title>Mary Om</md-card-title>
            <md-card-subtitle class="primary-contrast-color">April 15, 2017</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores et inventore placeat, provident
              quisquam!</p>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </article>
</section>






