<section>
  <md-card>
    <md-card-content fxLayout="column">
        <md-tab-group #tabGroup dynamicHeight="true">
            <md-tab label="Passo 1">
              <h6>Livro</h6>
              <form #livroForm="ngForm">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!titulo.valid && !titulo.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Título" name="titulo" required maxlength="100" ngModel #titulo="ngModel" [(ngModel)]="livroSelected.titulo">
                      <md-hint *ngIf="!titulo.valid && !titulo.pristine" class="warn-color">Campo obrigatório. máximo 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!subtitulo.valid && !subtitulo.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Subtítulo" name="subtitulo" maxlength="100" ngModel #subtitulo="ngModel" [(ngModel)]="livroSelected.subTitulo">
                      <md-hint *ngIf="!subtitulo.valid && !subtitulo.pristine" class="warn-color">Permitido apenas 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!isbn.valid && !isbn.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Isbn" name="isbn" required maxlength="100" ngModel #isbn="ngModel" [(ngModel)]="livroSelected.isbn">
                      <md-hint *ngIf="!isbn.valid && !isbn.pristine" class="warn-color">Campo obrigatório. máximo 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!edicao.valid && !edicao.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Edição" name="edicao" maxlength="100" ngModel #edicao="ngModel" [(ngModel)]="livroSelected.edicao">
                      <md-hint *ngIf="!edicao.valid && !edicao.pristine" class="warn-color">Permitido apenas 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!codigo.valid && !codigo.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Código Livre" name="codigo" maxlength="100" ngModel #codigo="ngModel" [(ngModel)]="livroSelected.codigoLivre">
                      <md-hint *ngIf="!codigo.valid && !codigo.pristine" class="warn-color">Permitido apenas 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!codigobarras.valid && !codigobarras.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 500px;" placeholder="Código Barras" name="codigobarras" maxlength="100" ngModel #codigobarras="ngModel" [(ngModel)]="livroSelected.codigoBarras">
                      <md-hint *ngIf="!codigobarras.valid && !codigobarras.pristine" class="warn-color">Permitido apenas 100 caracteres.</md-hint>
                  </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                    <md-input-container>
                        <textarea mdInput style="min-width: 500px;" placeholder="Descrição" name="descricao" maxlength="250" maxRows="3" ngModel #descricao="ngModel" [(ngModel)]="livroSelected.descricao"></textarea>
                        <md-hint *ngIf="!descricao.valid && !descricao.pristine" class="warn-color">Permitido apenas 250 caracteres.</md-hint>
                    </md-input-container>
                </div>
                <div style="margin-top: 10px; margin-bottom: 10px;">
                  <button md-raised-button color="primary" (click)="tabGroup.selectedIndex=1" [disabled]="!livroForm.valid">Próximo</button>
                </div>
              </form>
            </md-tab>
            <md-tab label="Passo 2" [disabled]="!livroForm.valid">
              <h6>Autor e Editora</h6>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!autor.valid && !autor.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 400px;" placeholder="Autor" name="autor" disabled  ngModel #autor="ngModel" [(ngModel)]="livroSelected.autor.nome" >
                  </md-input-container>
                  <button md-button name="btnSearchAutor" (click)="searchAutor()">Selecionar</button>
              </div>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="30px">
                  <md-input-container fxFlex [dividerColor]="!editora.valid && !editora.pristine ? 'warn' : 'primary'">
                      <input type="text" mdInput style="width: 400px;" placeholder="Editora" name="editora" disabled  ngModel #editora="ngModel" [(ngModel)]="livroSelected.editora.nome" >
                  </md-input-container>
                  <button md-button name="btnSearchEditora" (click)="searchEditora()">Selecionar</button>
              </div>
              <div style="margin-top: 10px; margin-bottom: 10px;"> 
                  <button md-raised-button color="primary" type="submit" name="btnOk" [disabled]="!livroForm.valid" (click)="gravar()" style="margin-right: 10px;">OK</button>
                  <button md-button color="warn" type="button" name="btnCancelar" (click)="voltar()">Cancelar</button>
              </div>
            </md-tab>
          </md-tab-group>
    </md-card-content>
  </md-card>
</section>
<!-- {{diagnostic}} -->

