.product-item {
  img {
    width: 100%;
    max-width: 600px;
  }
  .expandable {
    md-icon {
      vertical-align: middle;
    }
    .md-subhead {
      line-height: 40px;
    }
    button {
      padding: 0;
    }
  }
  .share {
    line-height: 40px;
  }
}
