
<loading-spinner *ngIf="showSpinner"></loading-spinner>

<section *ngIf="isLoadingDone">
  <article>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
          <span class="md-title">Autores</span>
        </span>
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        </span>
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Pesquisar..." (searchDebounce)="search($event)" flex>
          </td-search-box>
        </div>
        <md-divider></md-divider>

        <td-data-table #dataTable
          [data]="filteredData"
          [columns]="columns"
          [sortable]="true"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          (sortChange)="sort($event)"
          [selectable]="true"
          [multiple]="false"
          (rowSelect)="selectEvent($event)">
            <ng-template tdDataTableTemplate="createdAt" let-value="value">
              <div layout="row">
                  <span flex>{{value | date: 'dd/MM/yyyy'}}</span>
              </div>
            </ng-template>
        </td-data-table>
        <!-- <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
            <h6>Nenhum registro encontado.</h6>
        </div> -->
        <td-paging-bar #pagingBar [pageSizes]="[10, 15]" [total]="filteredTotal" (change)="page($event)" class="push-top">
            <span td-paging-bar-label hide-xs>Resultados por página:</span>
            {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
        <div layout="row" style="margin-left: 10px;">
            <button md-raised-button color="primary" routerLink="/main/cadastro-autor" style="margin-right: 10px;">Cadastrar</button>
            <button md-raised-button color="secundary"  (click)="edit()" [disabled]="!autorSelected">Editar</button>
        </div>
      </md-card-content>
    </md-card>
  </article>
</section>