<section>
  <header>
    <h3 class="primary-color">Bar Chart</h3>
  </header>
  <article>
    <md-card>
      <md-card-title>Animated</md-card-title>
      <md-card-content>
        <div echarts [options]="animatedBarOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
      </md-card-content>
    </md-card>
    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="50">
        <md-card>
          <md-card-title>Simple</md-card-title>
          <md-card-content>
            <div echarts [options]="simpleBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="50">
        <md-card>
          <md-card-title>Horizontal</md-card-title>
          <md-card-content>
            <div echarts [options]="horizontalBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart large"></div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </article>
</section>
