<section>
  <header>
    <h3 class="primary-color">Color</h3>
  </header>
  <article>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Red</md-card-title>
          <md-card-content>
            <app-palette [colors]="matRed" [contrastColors]="matRedContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Pink</md-card-title>
          <md-card-content>
            <app-palette [colors]="matPink" [contrastColors]="matPinkContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Purple</md-card-title>
          <md-card-content>
            <app-palette [colors]="matPurple" [contrastColors]="matPurpleContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Deep Purple</md-card-title>
          <md-card-content>
            <app-palette [colors]="matDeepPurple" [contrastColors]="matDeepPurpleContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Indigo</md-card-title>
          <md-card-content>
            <app-palette [colors]="matIndigo" [contrastColors]="matIndigoContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Blue</md-card-title>
          <md-card-content>
            <app-palette [colors]="matBlue" [contrastColors]="matBlueContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Light Blue</md-card-title>
          <md-card-content>
            <app-palette [colors]="matLightBlue" [contrastColors]="matLightBlueContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Cyan</md-card-title>
          <md-card-content>
            <app-palette [colors]="matCyan" [contrastColors]="matCyanContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Teal</md-card-title>
          <md-card-content>
            <app-palette [colors]="matTeal" [contrastColors]="matTealContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Green</md-card-title>
          <md-card-content>
            <app-palette [colors]="matGreen" [contrastColors]="matGreenContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Light Green</md-card-title>
          <md-card-content>
            <app-palette [colors]="matLightGreen" [contrastColors]="matLightGreenContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Lime</md-card-title>
          <md-card-content>
            <app-palette [colors]="matLime" [contrastColors]="matLimeContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Yellow</md-card-title>
          <md-card-content>
            <app-palette [colors]="matYellow" [contrastColors]="matYellowContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Amber</md-card-title>
          <md-card-content>
            <app-palette [colors]="matAmber" [contrastColors]="matAmberContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Orange</md-card-title>
          <md-card-content>
            <app-palette [colors]="matOrange" [contrastColors]="matOrangeContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Deep Orange</md-card-title>
          <md-card-content>
            <app-palette [colors]="matDeepOrange" [contrastColors]="matDeepOrangeContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Brown</md-card-title>
          <md-card-content>
            <app-palette [colors]="matBrown" [contrastColors]="matBrownContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Grey</md-card-title>
          <md-card-content>
            <app-palette [colors]="matGrey" [contrastColors]="matGreyContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex="33">
        <md-card>
          <md-card-title>Blue Grey</md-card-title>
          <md-card-content>
            <app-palette [colors]="matBlueGrey" [contrastColors]="matBlueGreyContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33">
        <md-card>
          <md-card-title>Black White</md-card-title>
          <md-card-content>
            <app-palette [colors]="matBlackWhite" [contrastColors]="matBlackContrast"></app-palette>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </article>
</section>
