<section>
  <header class="text-center">
    <h5>Testimonials</h5>
    <div class="md-subhead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum ducimus placeat possimus
      provident qui reprehenderit tempore totam voluptatibus. At doloribus possimus praesentium quam ut! Deserunt,
      excepturi tempore? Magnam.
    </div>
  </header>
  <article>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <md-card fxFlex="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <md-card-title><p>Outstanding!</p></md-card-title>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </md-card-content>
        <md-card-actions class="text-md">
          <span class="primary-color">Ada	Allison</span>
          <span class="secondary-text-color">CTO at Best Solutions</span>
        </md-card-actions>
      </md-card>
      <md-card fxFlex="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <md-card-title><p>Excellent!</p></md-card-title>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </md-card-content>
        <md-card-actions class="text-md">
          <span class="primary-color">Billy	Banks</span>
          <span class="secondary-text-color">Innovation expert</span>
        </md-card-actions>
      </md-card>
      <md-card fxFlex="33" class="text-center pad-top-xl push-top-xxl">
        <img src="assets/avatars/7070.png" class="avatar-top">
        <md-card-title><p>Wonderful!</p></md-card-title>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi eos fugiat harum, ipsum magnam
            perspiciatis totam unde vel vitae.</p>
        </md-card-content>
        <md-card-actions class="text-md">
          <span class="primary-color">Calvin West</span>
          <span class="secondary-text-color">Delivery manager at Super Soft</span>
        </md-card-actions>
      </md-card>
    </div>
  </article>
</section>
